.dub
docs.json
__dummy.html
docs/
/zstd-build
zstd-build.so
zstd-build.dylib
zstd-build.dll
zstd-build.a
zstd-build.lib
zstd-build-test-*
*.exe
*.pdb
*.o
*.obj
*.lst

lib/
*.selections.json
zstd_posix
